/.gradle/
/.idea/
/.archive/
/.icon/
/.release/
/common/.gradle/
/common/build/
/fabric/1.21/.gradle/
/fabric/1.21/build/
/fabric/1.21/run/
/forge/1.21/build/
/forge/1.21/run/
/.readme/
/forge/build/
/fabric/build/
/fabric/.gradle/
/forge/1.21/run-data/
/fabric/run/
